h1 { color: #EBABE0;}
h2 { color:#EBABE0; font-family: 'Anton', sans-serif;}

.coco {
	border: 2px solid #EBABE0;
	margin: 20px auto;
	width: 500px;
	padding: 20px;
}
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 30px 50px;
  color: #95898A;
}

.link:hover {
  color: #95898A;
}

.cadre1{border: 2px solid #95898A;
	margin :20px ;
	padding :10px;
}

.cadre2{border: 2px solid #95898A;
	margin :20px ;
	padding :10px;
}

.cadre3{border: 2px solid #95898A;
	margin :20px ;
	padding :10px;
}

.frame {
	border: 5px solid #EBABE0;
	margin :100px ;
	padding :20px;
	background: #95898A;
}


.formulaire{
	border:2px solid #EBABE0;
	margin : 100px auto;
	width: 500px;
	padding : 20px;
	border-radius: 50px;
	box-shadow: 10px 10px 10px deeppink;
}

.exempleun {border: 2px solid #EBABE0;
	margin: auto;
	width: 509px;
}

.exempledeux {border: 2px solid #EBABE0;
	margin: auto;
	width: 509px;
}


body {
	background: #FFE8FB;
	text-align: center; 
	font-family: arial;
}

h3 {
	text-align: center;
}

ol {
	text-align: left;
}




.drapeau {
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.premier {
	background: #FFCCF3;
	height: 20px;
	width: 100px;
}

.deuxieme {
	background: #FFA6EA;
	height: 20px;
	width: 100px;
}

.troisieme {
	background: #FF7DE0;
	height: 20px;
	width: 100px;
}

.quatrieme {
	background: #FF51D5;
	height: 20px;
	width: 100px;
}

.cinquieme {
	background: #FF16C7;
	height: 20px;
	width: 100px;
}


.bordure{
	text-align: center;
}

.encadre{
	display: flex;
	justify-content: center;
}

.plan{border: 2px solid #95898A;
	margin :30px;
	width: 600px;
	padding :10px;

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}